.container_antd {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
  }
  
  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  